---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import SectionHeading from "../components/SectionHeading.astro";
import SkillCard from "../components/SkillCard.astro";
import ExpCard from "../components/ExpCard.astro";

import "../styles/home.css";
import hanza from "../assets/profile.jpg";
import skills from "../data/skills.json";
import experience from "../data/experience.json";
---

<Layout>
  <!-- Main Content -->
  <main>
    <!-- Hero Section -->
    <section id="hero">
      <div class="container">
        <div class="hero-image">
          <Image
            src={hanza}
            height={180}
            width={180}
            alt={"Portrait image of Hansana"}
            loading={"eager"}
          />
        </div>
        <div class="hero-content">
          <div class="hero-heading">
            <h1>Hansana Prabath</h1>

            <span>
              <p>Software Engineer</p>
              <img
                src={"./lk_flag.webp"}
                height={16}
                width={16}
                alt="Flag of Sri Lanka"
              />
            </span>
          </div>

          <p class="hero-text">
            A Self-taught developer from Sri Lanka. Since 2018, I have been
            building web and software projects out of passion for both
            open-source and commercial purposes.
          </p>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
      <div class="container">
        <SectionHeading
          title="Skills"
          text="Languages, frameworks, and tools I know."
        />

        <div class="skill-cards">
          {
            skills.map((item) => (
              <SkillCard title={item.title} icon={item.iconURL} />
            ))
          }
        </div>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience">
      <div class="container">
        <SectionHeading title="Experience" text="My professional journey." />
        <div class="experience-cards">
          {
            experience.map((item) => (
              <ExpCard
                image={item.image}
                position={item.position}
                workedAt={item.workedAt}
                location={item.location}
                date={item.date}
                workType={item.type}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
