---
import Layout from "../layouts/Layout.astro";
import ArchiveHeading from "../components/ArchiveHeading.astro";
import ProjectCard from "../components/ProjectCard.astro";
import "../styles/archive.css";

import { projects } from "../data/projects.ts";
---

<Layout>
  <section class="archive-hero">
    <div class="container">
      <a href="/" class="back-btn">
        <div class="icon icon-move-left" aria-hidden="true"></div>
      </a>
      <ArchiveHeading
        title="Personal Projects"
        text="Projects I built to learn, experiment, and explore new ideas."
      />
    </div>
  </section>

  <section id="projects">
    <div class="container">
      <div class="project-cards-grid">
        {
          projects.personal.map((p) => (
            <ProjectCard
              title={p.title}
              desc={p.desc}
              stack={p.stack}
              image={p.image}
              url={p.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
